<section>
  <h1>About Me</h1>
  <p><img src="http://1.gravatar.com/avatar/49e14cf9f67c48aad082dec4f106f19a?size=250" class="aligncenter"></p>
  <p>I am a software developer, security researcher &amp; pen-tester, and manage an amazingly talented team; I live in southern Virginia though often travel. I write about my research and security in general, development and software design, and whatever hobby has my attention at the moment.</p>
  <p>Email: <a href="mailto:adam@adamcaudill.com">adam@adamcaudill.com</a> (<a href="http://adamcaudill.com/pgp/">PGP</a>)</p>
</section>
